@page
@model CharityDatabase.Pages.NeedeesModel
@{
}
<html dir="rtl">
<body>
    <form method="post">
        <input type="search" name="SearchTextBox" placeholder="جهت جستجو بخشی از نام نام خانوادگی کد ملی یا غیره تایپ کنید" class="form-control" />
        <input type="submit" value="جستجو" class="btn btn-primary" />
    </form>
    <center>
        <h1>لیست مددجویان ثبت نام شده</h1>
    </center>
    <table class="table">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>کد ملی</th>
                <th>جنسیت</th>
                <th>تحصیلات</th>
                <th>تاهل</th>
                <th>شغل</th>
                <th>درآمد</th>
                <th>دارای منزل مسکونی؟</th>
                <th>تاریخ تولد</th>
                <th>عملیات</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var n in Model.needees)
            {
            <tr>
                <td>@n.FirstName</td>
                <td>@n.LastName</td>
                <td>@n.NationalCode</td>
                <td>@n.Gender</td>
                <td>@n.Educations</td>
                <td>
                    @if (n.IsMarried != null)
                    {
                        @((bool)n.IsMarried ? "متاهل" : "مجرد")
                    }
                </td>
                <td>@n.Job</td>
                <td>@n.Revenue</td>
                @if (n.HasHouse != null)
                {
                    <td>@((bool)n.HasHouse ? "بلی" : "خیر")</td>
                }
                    <td>@n.BirthDate</td>
                    <td><a href="Delete?Id=@n.Id">حذف</a> | <a href="Edit?Id=@n.Id">ویرایش</a> | <a href="Details?Id=@n.Id">جزئبات</a></td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>